src/main/resources/XSD/ReportStructureValidation/PopularMovies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="popularMoviesReport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="generatedAt" type="xs:dateTime"/>
                <xs:element name="range">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="from" type="xs:dateTime"/>
                            <xs:element name="to" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="movie" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="movieId" type="xs:int"/>
                            <xs:element name="movieTitle" type="xs:string"/>
                            <xs:element name="bookingsCount" type="xs:int"/>
                            <xs:element name="ticketsSold" type="xs:int"/>
                            <xs:element name="totalIncome" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
