src/main/resources/XSD/ReportStructureValidation/RevenueByMonth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="monthlyRevenueReport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="generatedAt" type="xs:dateTime"/>
                <xs:element name="month" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="yearMonth" type="xs:gYearMonth"/>
                            <xs:element name="totalIncome" type="xs:decimal"/>
                            <xs:element name="totalBookings" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
