src/main/resources/XSD/ReportStructureValidation/showtimes_report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="showtimesReport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="generatedAt" type="xs:dateTime"/>
                <xs:element name="movie">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="movieId" type="xs:string"/>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="genre" type="xs:string"/>
                            <xs:element name="language" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="total" type="xs:int"/>
                <xs:element name="showtime" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="showtimeId" type="xs:string"/>
                            <xs:element name="startTime" type="xs:dateTime"/>
                            <xs:element name="endTime" type="xs:dateTime"/>
                            <xs:element name="theater" type="xs:string"/>
                            <xs:element name="price" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
